@import url('https://fonts.googleapis.com/css?family=Anton|Bahianita|Dancing+Script|Fjalla+One|Merriweather|Noto+Sans|Pacifico|Roboto|Roboto+Condensed&display=swap');

// font-family: 'Roboto', sans-serif; //
// font-family: 'Roboto Condensed', sans-serif; //
// font-family: 'Merriweather', serif; //
// font-family: 'Noto Sans', sans-serif; //
// font-family: 'Anton', sans-serif; //
// font-family: 'Fjalla One', sans-serif; //
// font-family: 'Bahianita', cursive; //
// font-family: 'Dancing Script', cursive; //
// font-family: 'Pacifico', cursive; //

// These fonts can be changed. :) //